/.idea/.gitignore
/board-firmware/.idea/.gitignore
/.idea/editor.xml
/board-firmware/.idea/editor.xml
/.idea/encodings.xml
/board-firmware/.idea/encodings.xml
/.idea/meteo-station.iml
/board-firmware/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
